{% extends "todo/base.html" %} {% block body %}
<div class="container">
  <div class="row mb-4">
    <div class="col-md-9">
      <h1>Liste des tâches à faire</h1>
    </div>
    <div class="col-md-3">
      <a href="{% url 'task_create' %}" class="btn btn-primary">
        Ajouter une nouvelle tâche
      </a>
    </div>
  </div>

  <!-- Responsive table wrapper -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Titre</th>
          <th>Description</th>
          <th>Date Limite</th>
          <th>Priorité</th>
          <th>Complété</th>
          <th>Catégorie</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %} {% if user.is_authenticated and user ==
        task.user %}
        <tr>
          <td>{{ task.id }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.due_date }}</td>
          <td>{{ task.priority }}</td>
          <td>
            <span
              class="badge rounded-pill {% if task.completed == 1 %}text-bg-success{% else %}text-bg-danger{% endif %}"
            >
              {% if task.completed == 1 %} Completed {% else %} Incomplete {%
              endif %}
            </span>
          </td>
          <td>{{ task.category }}</td>
          <td>
            <a href="{% url 'task_edit' task.id %}" class="btn btn-primary"
              >Edit</a
            >
            <a href="{% url 'task_delete' task.id %}" class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>
        {% endif %} {% empty %}
        <tr>
          <td colspan="8">
            <div class="alert alert-info" role="alert">
              Aucune Tache n'est disponible pour le moment.
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
